#empty-container {
  margin: auto;
  height: 500px;
  display: flex;
  align-items: center;
}

#fixation-dot {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: white;
}

#dot-container {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#stimulus-container {
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.photodiode-box {
  /* width: 150px;
  height: 150px;
  background-color: black; */
  position: fixed;
  bottom: 3px;
  right: 3px;
  display: flex;
}

.photodiode-spot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: auto;
  outline: 3px solid rgb(80,80,80);
  /* position: absolute; */
}
.photodiode-spot.lit {
  background-color: white;
}
.photodiode-spot.unlit {
  background-color: black;
}

.jspsych-content-wrapper {
  display: flex;
  /*justify-content: center;
  align-items: center;*/
  margin: auto; /* this does the same thing as above two lines in this case */
  flex: 1 1 100%;
  width: 100%;

  /* NEW STUFF 2018, NOT VANILLA JSPSYCH */
  background-color: black;
  cursor: none;
}
#patient-id-please, #jspsych-html-keyboard-response-stimulus, #jspsych-html-button-response-stimulus, p {
  color: white;
}

.instructions-text {
  color: white;
  width: 500px;
}

::-webkit-scrollbar {
  display: none;
}


/* Actions */
/* Move left  */

.move-center {
  transform: translate()
}
.move-left {
  /* transition: all 500ms ease-in-out; */
  justify-content: flex-start !important;
}
.move-right {
  /* transition: all 500ms ease-in-out; */
  justify-content: flex-end !important;
}
.move-top {
  /* transition: all 500ms ease-in-out; */
  align-items: flex-start !important;
  justify-content: center !important;
}
.move-bottom {
  /* transition: all 500ms ease-in-out; */
  align-items: flex-end !important;
  justify-content: center !important;
}
.move-center {
  /* transition: all 500ms ease-in-out; */
  align-items: center !important;
  justify-content: center !important;
}
.blink {
  background-color: transparent !important;
}
.blink::after {
  content: "Blink";
}
