.AX_text {
  text-align: center;
  font-size: 60px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.AX_feedback {
  text-align: center;
  font-size: 24px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.reward_text {
	text-align:center;
  font-size: 60px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  color: green;
}

/* these are all the same for now, but easy to modify individually */
#container-ad, #container-error, #container-exp, #container-consent, #container-instructions, #container-questionnaire {
    position: absolute;
    top: 0px; /* Header Height */
    bottom: 0px; /* Footer Height */
    left: 0px;
    right: 0px;
    padding: 100px;
    padding-top: 5%;
    border: 18px solid #f3f3f3;
    background: white;
}

#container-consent, #container-exp {  /* override padding to fit long consent forms and exp display*/
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 1%;
}

/* ad.html  - the ad that people view first */
#adlogo {
    float: right;
    width: 140px;
    padding: 2px;
    border: 1px solid #ccc;
}

/* consent.html - the consent form */
#consent {
  margin: 0 auto;
  margin-top: 0;
  width: 800px;
  font-size: 100%;
  height: 100%;
  overflow: scroll;
}

.legal {
  text-align: justify;
  font-size: 11pt;
  line-height: 1.1em;
}

#consent button {
  margin: 0 5%;
}

#jspsych-survey-multi-choice-form {
  margin-bottom: 2em;
}

#debriefing-text {
  text-align: left;
}

.jspsych-content-wrapper {
  cursor: none;
  overflow-x: hidden;
}